@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'poppins';
	display:flex;
	height: 100vh;
	align-items: center;
}










.headerslider{
	padding: 10px;
   
	background-color: rgb(14, 14, 100);
   
  }
  .headerslider{
	text-align: center;
	
  }

  .headerslider p{
	color: white;
	font-size: 15px;
	font-weight: bold;
  }
  @media (max-width: 767px){
	.headerslider{
	  padding: 1px;
	  margin: 1px;
	  background-color: rgb(14, 14, 100);

  }}
  @media (max-width: 767px){
	.headerslider p{
	  color: white;
	font-size: 10px;
	font-weight: bold;
	

  }}

  /*slider of home page main*/

  .swiper {
	width: 100%;
	height: 500px;
  }

  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  .swiper-button-prev{
	color:#ffffff;
  }
  .swiper-button-next{
	color: #ffffff;
  }

/*media Query*/
  
  @media (max-width: 767px) {
	.swiper {
	  height: 300px; 
	  width: 100%;
	}
	.swiper-slide img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
	.swiper-button-prev{
	  display: none;
	}
	.swiper-button-next{
	  display: none;
	}

	
  }
  
  @media (max-width: 576px) {
	.swiper {
	  height: 200px; 
	}
	.swiper-slide img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
	.swiper-button-prev{
	  display: block;
	}
	.swiper-button-prev{
	  display: none;
	}
	.swiper-button-next{
	  display: none;
	}
  }

  .row {
	display: flex;
	overflow: hidden;
  }
  
  .col {
	flex: 33.33%;
	max-width: 33.33%;
	box-sizing: border-box;
	padding: 15px;
	animation: scrollLeft 20s linear infinite; 
  }
  
























.news-wrap {
	width: 100%;
	padding: 20px 0;
}

.news-grid {
	width: auto;
	position: relative;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #ddd;	/*box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);*/
	margin: 10px;
}

.news-grid-image {
	width: 100%;
	height: 280px;
	overflow: hidden;
}

.news-grid-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .5s;
}

.news-grid-box {
	display: block;
	position: absolute;
	text-align: center;
	background: #26ccca;
	left: -80px;
	top: 200px;
	padding: 10px;
	transition: .5s;
	opacity: 90%;
	
}

.news-grid-box h1 {
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 2px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	margin-bottom: 5px;
}

.news-grid-box p {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0px;
}

.news-grid-txt {
	padding: 15px;
	margin-left: 8px;
}


.news-grid-txt h2 {
	color: black;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	margin: 8px 0px 5px 0px;
}




.news-grid-txt p {
	color:black;
	font-size: 14px;
	font-weight: 300;
	line-height: 170%;
	letter-spacing: 1.5px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 15px;
	margin-bottom: 25px;
	
}

.news-grid-txt a {
	color: #fff;
	background: rgb(65, 65, 136);
	padding: 6px 18px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 1px;
	text-decoration-line: none;
	transition: .5s;
	margin: 10px;
}

/*Hover-Section*/
.news-grid:hover .news-grid-box {
	left: 15px;
	transition: .5s;
	width: 90%;
}

.news-grid:hover .news-grid-image img {
	filter: grayscale(1);
	transform: scale(1.1);
	transition: .5s;
}

.news-grid-txt a:hover {
	text-decoration-line: none;
	color: #fff;
	letter-spacing: 1px;
	transition: .5s;
}

/*OWL*/
.owl-controls .owl-buttons {
	position: relative;
}

.owl-controls .owl-prev {
	position: absolute;
	left: -40px;
	bottom: 230px;
	padding: 8px 17px;
	/* background: #26ccca; */
	border-radius: 50px;
	transition: .5s;
}

.owl-controls .owl-next {
	position: absolute;
	right: -40px;
	bottom: 230px;
	padding: 8px 17px;
	/* background: #26ccca; */
	border-radius: 50px;
	transition: .5s;
}

.owl-controls .owl-prev:after, .owl-controls .owl-next:after {
	content: '\f104';
	font-family: FontAwesome;
	color: #fff;
	font-size: 16px;
}

.owl-controls .owl-next:after {
	content: '\f105';
}

.owl-controls .owl-prev:hover, .owl-controls .owl-next:hover {
	background: #000;
}















